<?xml version="1.0" encoding="utf-8"?>
<manifest package="it.sephiroth.android.library.bottomnavigation.app"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityCustomBehavior"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivityTablet"
            android:label="@string/app_name_tablet"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent">

        </activity>

        <activity
            android:name=".MainActivityTabletCollapsedToolbar"
            android:label="@string/app_name_tablet"
            android:theme="@style/AppTheme.NoActionBar.NoTranslucent2">

        </activity>

        <activity
            android:name=".MainActivityCustomBadge"
            android:label="@string/app_name_custom_badges"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>